* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

/* MAIN */

.container {
  width: 2170px;
  margin: 0 auto;
}

.main-row {
  display: flex;
  flex-wrap: wrap;
}

.main-col {
  margin: 10px 5px;
}

.sm-container {
  display: flex;
  justify-content: flex-end;
}

.top-b {
  padding: 3px;
  border-radius: 5px;
  background-color: rgba(74, 74, 74, 255);
  color: white;
  margin-bottom: 50px;
  margin-right: 3px;
  margin-top: 5px;
}

/* FOOTER */
